:root {
    --cinza-escuro: #27272A;
    --cinza-claro: #D4D4D8;
    --preto: #000000;
    --branco: #ffffff;
    --verde: #1FAB68;
}

body,
a,
button {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

.cabecalho {
    color: var(--preto);
    padding: 24px 0;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    font-weight: 600;

}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.links-menu {
    display: flex;
    gap: 32px;
}

.link-menu {
    color: var(--preto);
}

.logo a {
    color: var(--preto);

}

.botao-curriculo {
    background-color: var(--preto);
    color: var(--branco);
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
}

.texto-banner h1 {
    font-size: 48px;
    line-height: 130%;
    font-weight: 400;
}

.texto-banner-negrito {
    font-weight: 800;
}

.banner {
    padding: 60px 0;
    display: flex;
    align-items: center;

}

.texto-banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.texto-banner p {
    color: var(--cinza-escuro);
    font-weight: 400;
    line-height: 160%;
}

.img-banner {
    width: 50%;
}

.texto-banner-verde {
    color: var(--verde);
    font-weight: 800;
}

.redes-sociais {
    margin-top: 32px;
    display: flex;
    gap: 32px;
}

.link-redes-sociais {
    font-size: 20px;
    padding: 16px 16px;
    border: var(--preto) 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--preto);
}

.link-redes-sociais:hover {
    background-color: var(--preto);
    color: var(--branco);
}

.habilidades h2 {
    font-size: 48px;
    font-weight: 400;
}

.habilidades em {
    font-weight: 800;
}

.habilidades {
    text-align: center;
}


.icone-habilidade p {
    font-size: 24px;
    font-weight: 700;
}

.icones-habilidades {
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;
}

.icone-habilidade {
    font-size: 56px;
    min-height: 190px;
    min-width: 190px;
    border: 2px solid var(--preto);
    padding: 32px 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.icones-habilidades :hover {
    background-color: var(--preto);
    color: var(--branco);
}

.titulo-experiencia {
    font-size: 48px;
    font-weight: 400;
    text-align: center;

}

.titulo-experiencia em {
    font-weight: 800;
}

.experiencia h3 {
    font-size: 24px;
    font-weight: 600;
}

.experiencia {
    padding: 30px 24px;
}

.conteudo-experiencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.tempo-experiencia {
    color: var(--cinza-claro);
}

.texto-experiencia {
    display: flex;
    gap: 30px;
    align-items: center;
}

.experiencia p {
    font-size: 16px;
    font-weight: 600;
}

.minhas-experiencias {
    background-color: var(--preto);
    color: var(--branco);
    padding: 60px 0;
}

.experiencias {
    border: 1px solid var(--cinza-escuro);
    border-radius: 10px;
    margin-top: 50px;
}

.experiencias:hover {
    background-color: var(--cinza-escuro);
}

.descricao-experiencia {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-claro);
    line-height: 160%;
}

.img-experiencia {
    width: 150px;
}

.texto-sobre-mim h2 {
    font-size: 48px;
    font-weight: 400;
}

.texto-sobre-mim em {
    font-weight: 800;
}

.texto-sobre-mim {
    max-width: 50%;
}

.texto-sobre-mim p {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-escuro);
    line-height: 160%;

}

.p-sobre-mim {
    padding: 30px 0;
}

.sobre-mim {
    display: flex;
    padding: 32px 32px;
    gap: 80px;
}

.img-sobre-mim {
    max-width: 50%;
}

.meus-projetos {
    padding: 60px 32px;
    background-color: var(--preto);
    color: var(--branco);
}

.conteudo-projetos {
    display: flex;
    margin-top: 60px;
    align-items: center;
    gap: 40px;
}

.titulo-projetos {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.titulo-projetos em {
    font-weight: 800;
}

.projetos-img img {
    border: none;
    border-radius: 5px;
}

.texto-projetos h3 {
    font-size: 48px;
    font-weight: 800;

}

.link-projeto {
    color: var(--branco);
    font-size: 20px;
}

.texto-projetos h4 {
    font-size: 32px;
    font-weight: 700;
}

.texto-projetos p {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-claro);
    line-height: 160%;
}

.texto-projetos {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
    background-color: var(--preto);
    color: var(--branco);
}

.conteudo-footer {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.texto-footer {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 960px) {
    .links-menu {
        display: none;
    }
    .texto-banner h1 {
        font-size: 36px;
    }
}

@media (max-width: 680px) {
    .banner {
        flex-direction: column-reverse;
        gap: 16px;
    }
    .texto-banner {
        width: 100%;
    }
    .img-banner {
        min-width: 100%;
    }
    .texto-banner h1, .habilidades h2, .titulo-experiencia, .sobre-mim h2, .meus-projetos h2 {
        font-size: 28px;
    }
    .icone-habilidade {
        padding: 24px;
    }
    .tempo-experiencia h3 {
        font-size: 20px;
    }
    .texto-experiencia {
        flex-wrap: wrap;
    }
    .conteudo-experiencia {
        gap: 16px;
    }
    .sobre-mim {
        flex-direction: column;
    }
    .texto-sobre-mim, .img-sobre-mim {
        max-width: 100%;
    }
    .footer {
        flex-wrap: wrap;
        gap: 16px;
    }
    .conteudo-projetos {
        flex-direction: column;
    }
    .texto-projetos h3 {
        font-size: 24px;
    }
    .texto-projetos h4 {
        font-size: 20px;
    }
}