
body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
    background-color: black;
}

div {
    margin-top: 25px;
}

h1 {
    color: #bc4749;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bolder;
}

p {
    color: #a7c957;

}

.principal > p, h3, a  {
    margin-left: 10px;
}


h2 {
    color: #386641;

}

h3, a {
    color: #6a994e;
    text-decoration: none;

}

ul {
    color: green;
    margin-left: 20px;

}

ul li a {
    color: #f2e8cf;
}

p a {
    color: #f2e8cf;
}

.principal {
    margin-left: 100px;
}

.principal > * {
    margin-top: 15px;
    margin-bottom: 15px;

}

li::marker {
    color: #386641;
}

  ul, ol {
    list-style-type: disc;
}
ul {
    list-style-position: inside; 
    margin-left: 10px; 
}

img {
    height: 25px;
    width: 25px;

}

.item-contato {
    display: flex;
    gap: 12px;
    align-items: center;
}

.icone {
    font-size: 24px;
}

.icone-email {
    color: #bc4749;
}

.icone-instagram {
    color: #FF1493;

}

span {
    display: none;
}